@charset "UTF-8";
:root{
    --color1:#fff37b;
    --color2:#5fcc86;
    --color3:#28375b;
    --color4:#39809c;
    --color5:#6AADC8;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
main{
    background-color:var(--color2);
    height: 100vh;
}
main > section{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    width: 18rem;
    background-color: var(--color3);
    border-radius:20px;
    box-shadow:2px 4px 5px 0px #00000025;
}
#image{
    background: url(../image/backgroumd01.png)  no-repeat;
    background-size: cover;
    width: 18rem;
    height: 12rem;
    border-radius: 4.5% 4.5% 0% 0%;
}

section >#conteudo > h1{
    padding-top: 15px;
    text-align: center;
    font-size: 1.4rem;
    color:var(--color5)
}
#conteudo > p {
    padding: 15px;
    font-size: 0.9rem;
    color: var(--color5)

}
#conteudo > form{
    color: var(--color1);
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}
#email,#senha{
    background-color: #6aadc8a1;
    width: 14rem;
    padding: 4px 0px;
    border-radius: 20px 10px;
}
#email{
    display: inline-block;
    margin-bottom: 10px;
}
div#email>.material-icons{
    display: inline;
    position: absolute;
    top: 59%;
    left: 13%;  
  }
#senha{
    display: inline-block;
    margin: 10px;
}
div#senha>.material-icons{
    display: inline;
    position: absolute;
    top: 69.5%;
    left: 13%;  
  }
#isenha ,#iemail{
    margin-left: 20px;
    border-color: var(--color3);
    padding:5px;
    border-radius: 10px 5px;
}

input#enviar{
    width: 14rem;
    border: none;
    margin-top: 15px;
    padding: 10px 0px;
    background-color: var(--color4);
    color: white;
    border-radius: 5px 5px;
}
input#enviar:hover{
    transition: 0.3s;
    background-color:var(--color1);
    color: var(--color4);
}
input#redefinir{
    border: none;
    padding: 10px 0px;
    margin-top: 15px;
    width: 14rem;
    color: var(--color4);
    border-radius: 5px 5px;
}
input#redefinir:hover{
    transition: 0.3s;
    color: white;
    background-color:#EF7B45;
}